if SHIELD_DACTYL663_LEFT

    # Name must be less than 16 characters long!
    config ZMK_KEYBOARD_NAME
        default "dactyl663"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL663_LEFT || SHIELD_DACTYL663_RIGHT

    config ZMK_SPLIT
        default y

    config ZMK_SLEEP
        default n 

endif
